#book-list {
  display: inline-grid;
  max-width: 767px;
  margin: 0 5px;
  gap: 1rem;

  @include responsive(T) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 30px;
  }

  @include responsive(D) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 50px;
  }
}
