.recommend-button {
  display: inline-block;
  width: calc(100% - 10px);
  max-width: 566px;
  height: 80px;
  padding: 0;
  margin-bottom: 30px;
  background: $accent;
  border-radius: 3px;
  font-size: 30px;
  color: #fff;

  @include responsive(T) {
    max-width: 767px;
  }

  @include responsive(D) {
    max-width: 720px;
  }
}
